/* src/SpinningCube.css */
.cube {
    position: relative;
    transform-style: preserve-3d;
  }
  
  .face {
    position: absolute;
    border: 2px solid;
  }
  
  @keyframes spin-cube {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  